################################################################################
## Directories
################################################################################
reference/
textbook/

################################################################################
## Sublime
################################################################################
*.sublime-project
*.sublime-workspace

################################################################################
## Python
################################################################################
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

################################################################################
## LaTex
################################################################################
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.fff
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
*.ttt